# Dependencies
node_modules/
.pnp
.pnp.js

# Build / Next
.next/
out/
build/
dist/

# Env and secrets
.env
.env*.local
.env.production

# Debug / IDE
npm-debug.log*
.DS_Store
*.pem

# Vercel
.vercel

# Prisma
prisma/migrations/**/migration_lock.toml

# Uploads
public/uploads/
